
.tabler-icon{
  stroke-width: 1px;
  width: 18px;
  height: 18px;
}

.tabler-icon-edit{
  width: 18px;
  height: 18px;
}

.tabler-icon-bolt{
  color: green;
}

.tabler-icon-circle-check{
  color: green;
}

.tabler-icon-circle-dot-filled{
  color: green;
  
}

.tabler-icon-circle-dot{
  color: red;
}