.stepn-wrapper{
  background-image: url("./assets/images/stepn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(36,35,40,255);
  background-position: 50%;
  display: flex;
  width: 100%;
  min-height: 93vh;
}

.logs-wrapper{
  background-color: $lightblue-theme;
  width: 100%;
  min-height: 93vh;
  padding: 50px 10px 50px 10px;
}

.logs-wrapper{
  padding-right: 25px;

  .token-price-wrapper{
    position: relative;
    max-width: 800px;
    display: flex;
    align-content: center;
    justify-content: center;

    .token-price-row{
      background-color: $red-theme;
      border: 5px solid $blue-theme;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      width: 800px;
      margin-top: 5px;
    }

    .refresh-button{
      position: absolute;
      right: -20px;
      top: 20px;
      color: $blue-theme;

      .tabler-icon-edit{
        width: 25px;
        height: 25px;
      }
    }
  }

  .reward-list-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 800px;    

    .rewardlist{
      display: flex;
      flex-direction: column;
      border: 5px solid $blue-theme;
      border-radius: 10px;
      padding: 10px;
      background-color: $red-theme;
      width: 100%;
      margin-top: 5px;

      .token-wrapper{
        position: relative;

        .edit-token{
          position: absolute;
          right: -33px;
          top: 4px;
          color: $blue-theme;
        }

        .tc-firstline{
          top: 30px;
        }  
      }

      .tc-date{
        background-color: $white-theme;
        text-indent: 5px;
        padding: 3px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        color: black;
        
        // border: 1px solid black;
      }

      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        background-color: rgba(0, 0, 0, 0.1); /* semi-transparent black */
        z-index: 10;
      }

      .headline, .token-row, .summary{
        display: flex;
        flex-direction: row;
        background-color: $white-theme;
        height: 25px;
        
        .token-cell-header{
          width: 20%;
          display: flex;
          align-items: center;
          padding: 0 5px;
          justify-content: center;
          white-space: nowrap; /* Prevents breaking words into new lines */
          overflow: hidden;    /* Hides overflow content */
          text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
        }

        .token-cell{
          width: 20%;
          display: flex;
          align-items: center;
          padding: 0 5px;
          white-space: nowrap; /* Prevents breaking words into new lines */
          overflow: hidden;    /* Hides overflow content */
          text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
          justify-content: center;

          button, a{

            &:hover{
              text-decoration: underline;
              text-decoration-color: $red-theme;
              text-underline-offset: 3px;
            }
          }
        }  

        .tc-time{

        }

        &:hover{
          background-color: rgba(255,255,255,0.8);
        }
      }

      .edit-wrapper{
        display: flex;
        flex-direction: column;
        background-color: $red-theme;
        border: 2px solid $red-theme;

        .edit-row{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          background-color: $red-theme;
          padding: 1px;
  
          input{
            padding: 1px;
            margin: 1px;       
            background-color: $white-theme;
            width: calc(20% - 2px);
            text-indent: 5px;
          }

          div{
            padding: 1px;
            margin: 1px;       
            background-color: $white-theme;
            width: calc(20% - 2px);
            text-align: center;
            display: flex;
            justify-content: space-around;

            button{
              width: 50%;
            }

            button:first-child{
              border-right: 1px solid $red-theme;
            }
          }
        }
      }

      .headline, .summary{
        // font-size: larger;
      }

      .headline{
        border-radius: 5px 5px 0 0;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        background-color: rgba(255,255,200,0.8);

        &:hover{
          background-color: rgba(255,255,200,0.8);
        }
        

        div{
          border-left: 1px solid black;

          &:first-child{
            border-left: 1px solid transparent;
          }

          &:last-child{
            border-right: 1px solid transparent;
          }
        }
      }

      .token-row{
        border-left: 1px solid black;
        border-right: 1px solid black;

        div{
          border-top: 1px solid black;
          border-left: 1px solid black;

          &:first-child{
            border-left: 1px solid transparent;
          }

          &:last-child{
            border-right: 1px solid transparent;
          }
        }
      }

      .summary{
        
        border-left: 1px solid black;
        border-right: 1px solid black;

        div{
          border-top: 1px solid black;
          border-left: 1px solid black;

          &:first-child{
            border-left: 1px solid transparent;
          }

          &:last-child{
            border-right: 1px solid transparent;
          }
        }

        &:hover{
          background-color: rgba(255,255,200,0.8);
        }
      }



      .summary-row1{
        background-color: rgba(255,255,200,0.7);

        &:hover{
          background-color: rgba(255,255,200,0.7);
        }
      }

      .summary-row2{
        background-color: rgba(255,255,200,0.8);
      }

      .summary-row3{
        border-radius: 0px 0px 5px 5px;
        border-bottom: 1px solid black;
        background-color: rgba(255,255,200,0.8);
      }
    }
  }
}